.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-family: Roboto;
  font-size: 24px;
  color: black;
  left: 117px;
}
.header-navbar {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #615E5E;
}
.jumbotron {
  width: 100%;
  height: 100%;
}
.jumbotron-h1 {
  width: 443px;
  height: 66px;
  font-family: Roboto;
  font-style: normal;
  line-height: 30px;
  font-size: 28px;
  color: #615E5E;
}
.jumbotron-p {
  width: 632px;
  height: 69px;
  left: 117px;
  top: 246px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 20px;
  color: #000000;
}
.jumbotron-button {
  width: 156px;
  height: 43px;
  left: 139px;
  top: 357px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  color: #FFFFFF;
  background: linear-gradient(179.59deg, #FFA401 1.26%, #FFA401 98.73%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.jumbotron-hmm {
  width: 100%;
  height: 100%;
}